* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "page";

@blue: @df-blue;
@red: @df-maroon;
@gray: @df-middle-gray;
@dark-gray: @df-dark-gray;
@block: 'Paytone One', sans-serif;
@body: 'PT Sans', sans-serif;
@narrow: 'Oswald', sans-serif;

.highlight {
  color: @df-maroon;
}

body {
  font-family: @body;
  font-size: 18px;
  background: white;
  max-width: 1200px;
  margin: auto;
  padding: 10px;

  @media @tablet {
    font-size: 16px;
    padding: 0;
  }
}

// .illustration {
//   width: 100%;
//   position: relative;
// }

.quiz-container {
  width: 840px;
  margin: auto;

  @media @tablet {
    width: 100%;
  }

  @media @mobile {
    margin-top: 0;
  }
  
  &.results {
    .buttons {
      height: 0;
      margin-right: 0;
    }

    .quiz-box {
      padding-top: 55px;
      font-family: @body;

      ol {
        @media @mobile {
          padding-left: 20px;
        }
      }
    }

    @media @tablet {
      .buttons {
        float: center;
        text-align: center;
      }
    }
  }

  .buttons {
    float: right;
    margin-top: 1em;

    @media @tablet {
      margin-top: 1.5em;
      margin-right: 1em;
    }

    .retake {
      font-family: @block;
      display: inline-block;
      text-decoration: none;
      border: none;
      padding: 5px 10px;
      font-size: 0.9em;
      -webkit-font-smoothing: antialiased;
      transition: background 0.2s linear;
      background: @blue;
      color: white;
      cursor: pointer;

      @media @tablet {
        padding: 10px 20px;
      }
        
      &:hover {
        background: @red;
      }

      &.hidden {
        display: none;
      }

      span {
        padding-left: 3px;
      }
    }
  }
}

.quiz-box {
  height: 100%;
  width: 100%;
  font-family: @body;
  margin: 0 auto;
  padding-bottom: 25px;

  .index {
    font-family: @block;
    color: @gray;
    font-size: 16px;
    font-weight: bold;
  }

  .question-box {
    margin-bottom: 1em;
    margin: auto;
    height: 0px;
    overflow: hidden;

    &.transition {
      transition: height 0.5s ease-in;
    }

    .inner {
      padding-top: 25px;
      border-top: 8px solid @blue;
    }
  }

  .question-inner {
    display: inline-block;
    min-width: 400px;
  }

  .question {
    font-family: @block;
    font-size: 1.4em;
    color: #424648;
  }

  .map {
    margin-left: 40px;
    width: 200px;
    float: left;
    margin-right: 60px;
    padding-top: 8px;

    img {
      padding-top: 20px;
    }
  }

 .option {
    font-family: @body;

    .listen {
      padding-left: 5px;
      color: @df-charcoal;
      font-size: 15px;
    }
  }

  input {
    display: none;

    & + label::before {
      position: relative;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f1db";
      margin-right: 8px;
    }

    &:checked + label::before {
      content: "\f111";
      color: @red;
    }
  }

  label {
    cursor: pointer;
    color: @dark-gray;

    @media @mobile {
      font-size: 16px;
    }
  }

  .result-name {
    font-family: @block;
    color: @dark-gray;
    font-size: 2em;
    line-height: 1.2em;
    margin: 10px 0;
  }

  .result-description {
    font-family: @body;
    margin: 0 auto 1em auto;
    font-size: 1.2em;
    color: @dark-gray;
  }

  .answer-key-name {
    font-family: @block;
    color: @dark-gray;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 20px 0 10px 0;
  }

  .answer-list {
    color: @dark-gray;

    .listen {
      padding-left: 5px;
      font-size: 14px;
    }
  }

  .answer-key {
    padding-bottom: 20px;
    font-size: 18px;
    font-family: @block;
  }

  .question-key {
    padding-bottom: 5px;
  }

  .options-key {
    padding: 5px 0;
    font-family: @body;
    font-size: 16px;
    padding-left: 32px;
    text-indent: -11px;
  }

  .correct, .correct.selected {
    padding-left: 22px;

    &::before {
      color: #67b74c;
      position: relative;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00c";
      margin-right: 3px;
    }
  }

  .selected {
    padding-left: 22px;

    &::before {
      color: #C22E1B;
      position: relative;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00d";
      margin-right: 7px;
    }
  }

  .explanation-key {
    text-indent: 0px;
    font-weight: 300;
    padding-top: 8px;
    font-size: 15px;
    font-family: @body;
  }
}

button {
  font-family: @block;
  display: inline-block;
  cursor: default;
  text-decoration: none;
  background: #CCC;
  color: white;
  border: none;
  padding: 3px 10px 5px 10px;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  transition: background 0.2s linear;

  @media @tablet {
    padding: 10px 20px;
  }

  &.active {
    background: @blue;
    cursor: pointer;
    
    &:hover {
      background: @red;
    }
  }
}

.answer-container {
  display: inline-block;
}
.video {
  background: @df-light-gray;
  width: 600px;
  height: 400px;
  margin: auto;
  margin-bottom: 25px;
}
.quiz-button {
  background: @df-maroon;
  font-family: @block;
  cursor: pointer;
  color: white;
  padding: 7px 10px 10px 10px;
  text-transform: uppercase;
  width: 161px;
  margin: auto;

  &:hover {
    background: @df-middle-gray;
  }
}