* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "page";
@import "flexbox";
@import "quiz";

@red: @df-maroon;
@gray: @df-middle-gray;
@dark-gray: @df-dark-gray;
@block: @df-sans;
@body: @df-sans;
@special: 'Paytone One', sans-serif;
@break: ~"(max-width: 840px)";

.highlight {
  color: @red;

  &.wrong {
    font-family: @special;
    font-weight: 400;
    text-transform: uppercase;
  }

  &.correct {
    .wrong;
    color: #589040;
  }
}

  .thin-div {
    border-bottom: 1px solid @df-light-gray;
    margin-bottom: 15px;

    .center {
      position: relative;
      top: 15px;
      margin: auto;
      width: 100px;
      text-align: center;
      font-size: 20px;
      background: white;
    }
  }


.dont-miss {
  .display-flex;
  .flex-wrap(wrap);
  margin-bottom: 20px;

  .story {
    .flex(0 0 25%);

    @media @mobile {
      .flex(1 1 50%)
    }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
  a {
    color: @df-dark-gray;
    transition: color .1s linear;

    &:hover {
      color: @df-blue;
    }
  }
}