<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One:700,400,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="outer">
      <!-- <%= t.include("partials/_ad.html", { type: "banner" }) %> -->
      <nav class="top-bar">
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/seattletimes.svg">
        </a>
      </nav>

      <header>
        <h1 class="title">Can you say<br>Skamoka-<em>what</em>?</h1>
        <p class="chatter">Think you can pronounce the names of Washington towns and historical attractions? Test your local knowledge with <a href="#quiz">our quiz</a>.
        <!-- <a class="share-button"></a> -->
      </header>

      <div class="quiz-container">
        <div class="quiz-box"> 

          <!-- START OF VIDEO -->
          <div class='video-wrapper'>
            <div class="video">
              <script src="https://cdn.jwplayer.com/players/axLN4Qz5-UXknQA8J.js"></script>
            </div>    
          </div>

          <!-- START OF QUIZ -->
          <div class="quiz-header">
            <h2 class="title" id="quiz">Your turn!</h2>
            <p class="chatter">Test yourself on local pronunciations.
              <br>Click on the audio icon <i class="fa fa-volume-up"></i> to hear each option.
            <a class="share-results"></a>
          </div>
          <div class="question-box"></div>
        </div>

        <div class="divider"></div>

        <div class="credits">
          Video by <span class="credit-name">Corinne Chin, Lauren Frohne, Aaron Spencer</span> &bull; Quiz and web development by <span class="credit-name">Audrey Carlsen</span>
        </div>
        <div class="sources">
          Sources: <span class="credit-name">Seattle Times reporting, <a href="http://search.tacomapubliclibrary.org/wanames/wpnv2.asp">Tacoma Public Library Washington Place Names database</a></span>
        </div>

          <div class="thin-div">
            <div class="center">Don't Miss</div>
          </div>

        <div class="dont-miss">

          <div class="story">
            <div class="padded">
              <a href="http://projects.seattletimes.com/2015/seahawks-personality-quiz/">
                <img src="./assets/seahawks_quiz.JPG"></img>
              </a>
                <div class="small">Personality quiz</div>
              <a href="http://projects.seattletimes.com/2015/seahawks-personality-quiz/">
                <div>Which Seahawk are you?</div>
              </a>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://www.seattletimes.com/photo-video/art-of-movement-competes-in-breakdancing-battle/">
              <img src="./assets/breakin_tzr.jpeg"></img>
            </a>
              <div class="small">Video</div>
            <a href="http://www.seattletimes.com/photo-video/art-of-movement-competes-in-breakdancing-battle/">
              <div>Breakin': Art of Movement competes in breakdancing battle</div>
            </a>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.seattletimes.com/2015/seattle-architecture-quiz/">
              <img src="./assets/architecture_quiz.JPG"></img>
            </a>
              <div class="small">Photo quiz</div>
            <a href="http://projects.seattletimes.com/2015/seattle-architecture-quiz/">
              <div>How well do you know Seattle's architecture?</div>
            </a>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://www.seattletimes.com/seattle-news/data/does-everyone-in-seattle-drive-a-subaru/">
              <img src="./assets/subaru.jpg"></img>
            </a>
              <div class="small">FYI Guy</div>
            <a href="http://www.seattletimes.com/seattle-news/data/does-everyone-in-seattle-drive-a-subaru/">
              <div>Does everyone in Seattle drive a Subaru?</div>
            </a>
            </div>
          </div>
        </div>

        <%= t.include("partials/_ad.html", { type: "bannerBottom" }) %>
      </div>
    </div>

    <footer>
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
      <!-- <a class="share-bottom"></a> -->
    </footer>

    <script>
      <% 
        var quizData = {};
        json.PronunciationQuiz_Places.forEach(function(p) {
          quizData[p.placeid] = { 
            "place": p.place,
            "desc": p.description,
            "image": p.image
          };
        });
        json.PronunciationQuiz_Answers.forEach(function(a, index) {
          var id = a.placeid;
          if (!quizData[id].answers) { quizData[id].answers = [] }
          var answer = { 
            "answer": a.answer,
            "correct": a.correct,
            "id": index,
            "audio": a.audio
          };
          quizData[id].answers.push(answer);
        });
      %>
      var quizData = <%= JSON.stringify(quizData) %>
      var resultsData = <%= JSON.stringify(json.PronunciationQuiz_Results) %>
    </script>
    <script src="app.js"></script>
    <%= json.project.production && !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
